<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <title>Vue Example</title>
  </head>
  <body>
    <div id="app">
      <!-- <app></app> -->
      <div class="container">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Choose one of your games</label>
            <div class="col-sm-5">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model='gameId'>
                <option v-for="(id, index) in myGames" v-bind:value="id">Game #{{ id }}</option>
              </select>
            </div>
        </div>
        <hr>
        <div class="form-group row ">
          <label class="col-sm-3 col-form-label">Join a Game</label>
          <div class="col-sm-3">
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model='joinGameId'>
            <option v-for="(id, index) in availableGames" v-bind:value="id">Game #{{ id }}</option>
          </select>
          </div>
            <div class="col-sm-2">
            <button type="button" class="btn btn-primary pull-right">Join <small>implement!</small></button>
          </div>
        </div>
      <hr>
      <div class="form-group row ">
        <label class="col-sm-3 col-form-label">Create a Game</label>
        <div class="col-sm-5">
          <button type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
      <hr>
      





      <!-- <button @click='getDebug'>getDebug</button> -->
      <p>debug: {{ debug }}</p>
      <!-- <button @click='getGamesCounter'>getGamesCounter</button> -->
      <p>gamesCounter: {{ gamesCounter }}</p>
      <!-- <button @click='getMygames'>getMyGames</button> -->
      <p>myGames: {{ myGames }}</p>
      <!-- <button @click='getClosedJoinGames'>getClosedJoinGames</button> -->
      <p>closedJoinGames: {{ closedJoinGames }}</p>
      <!-- <button @click='getAvailableGames'>getAvailableGames</button> -->
      <p>availableGames: {{ availableGames }}</p>
      <p>account: {{ account }}</p>
      <p>gameId: {{ gameId }}</p>
      <p>joinGameId: {{ joinGameId }}</p>
      <button @click='createGame'>createGame</button>
      <div class="form-group">
        <input type="text" class="form-control" v-model='joinGameId'>
        <button @click='joinGame'>joinGame</button>
      </div>

      <button @click='refresh'>refresh</button>


    </div>
    <script src="app.js"></script>
  </body>
</html>
